// begin:footer

section#footer
  .container
    .row

      .col-md-3.col-sm-3

      .col-md-3.col-sm-3
        .widget
          h3 Useful Links
          ul.list-unstyled
            li
              a(href='/about#faq') FAQ
            li
              a(href='/contact') Contact
            li
              a(href='/about') Our Team
      .col-md-6.col-sm-5
        .footer-logo
          h2
            i.fa.fa-book
            |  Moms and Stories.

          br
          p.muted &copy; 2014 Moms and Stories Inc.
        
          a(href='/about#legal') Privacy
// end:footer
// begin:copyright
section#copyright
  .container
    .row
      .col-md-6.col-sm-6.copy-left
        p
          | Theme
          | Copyright &copy; 2014
          strong avriqqlabs
          | . All Right Reserved.
      .col-md-6.col-sm-6.copy-right
        ul.list-inline.social-icon
          li
            a.icon-twitter(href='https://twitter.com/MomsAndStories', rel='tooltip', title='', data-placement='top', data-original-title='Twitter')
              i.fa.fa-twitter
          li
            a.icon-facebook(href='https://www.facebook.com/momsandstories', rel='tooltip', title='', data-placement='top', data-original-title='Facebook')
              i.fa.fa-facebook-square


// end:copyrigt
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster

script(src='/js/lib/bootstrap.min.js')
script(src='/js/lib/masonry.pkgd.min.js')
script(src='/js/lib/imagesloaded.pkgd.min.js')
script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=en')
script(src='/js/lib/gmap3.min.js')
script(src='/js/lib/summernote.js')
script(src='/js/lib/bootstrap-wysiwyg.js')
script(src='/js/lib/jquery.isotope.min.js')
script(src='/js/lib/jquery.easing.js')
script(src='/js/lib/script.js')
